*{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}
.encabezado{
    box-shadow:        
    0.5em 0.5em 0.5em 0.5em rgba(0,0,0,0.2);
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tituloEncabezado{
    margin-left: 20px;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(87, 87, 87);
}
.masEncabezado{
    padding: 20px;
    background-color: rgb(0, 179, 0);
    color: white;
    font-weight: 900;
    font-size:xx-large;
    width: 10%;
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50% ;
    padding: 20px;
    box-shadow:        
    0.5em 0.5em 0.5em 0.5em rgba(0,0,0,0.2);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 70px;
}
input{
    margin-bottom: 10px;
    border: rgb(175, 175, 175) 1px solid;
    border-radius: 20px;
    padding-top: 5px;
    outline: none;
}
.selectEmpresas{
    border: rgb(175, 175, 175) 1px solid;
    border-radius: 20px;
    padding: 5px;
    text-align:center;
    cursor: pointer;
}
.contenedorBotones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.dosBotones{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.botonBorrar{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 1em 3em;
    color: white;
    width: 50%;
    font-weight: bolder;
    background-color: rgb(179, 0, 0);
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
.botonAgregar{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1em 3em;
    color: white;
    width: 50%;
    font-weight: bolder;
    background-color: rgb(0, 179, 0);
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
.botonBack{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1em 3em;
    color: black;
    width: 100%;
    font-weight: bolder;
    background-color:white;
    border-radius: 20px;
    border: rgb(0, 179, 0) solid 1px;
    cursor: pointer;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}